.wrap {
	max-width: 480px;
	margin: 80px auto;
	padding: 10px 20px;
	border: tomato 7px solid;
	position: relative;
}

.myZoom {
	box-sizing: border-box;
	overflow: hidden;
	position: relative;
	width: 100%
}

.zoom-loupe {
	overflow: hidden;
	position: absolute;
	border-radius: 30px;
	top: 0;
	left: 0;
	border: #f0f0f0 4px solid;
	box-shadow: rgba(0,0,0,.3) 5px 5px 8px;
	/* transform: scale(1.4); */
	display: none;
	cursor: none;
}